{
  "parser": "@babel/eslint-parser",
  "extends": "@folio/eslint-config-stripes",
  "plugins": [
    "filenames",
    "jest"
  ],
  "overrides": [
    {
      "files": ["*test.js", "test/**"],
      "rules": {
        "react/prop-types": "off",
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": [ "lib/**"],
      "rules": {
        // Using default exports can make it harder to find things in your code and lead to inconsistencies.
        "import/prefer-default-export": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/forbid-prop-types": [ 1, { "forbid": [ "array" ] } ]
      }
    }
  ],
  "env": {
    "jest/globals": true
  }
}
